package templates

import "my_project/templates/components"

templ Home() {
	@components.Page("Home") {
		<div>
			Hello World!
		</div>
		<a href="/login">
			<button>
				Login
			</button>
		</a>
	}
}
