package templates

import (
	"my_project/templates/components"
	"my_project/templates/utils"
)

templ Home() {
	@components.Page("Home", "") {
		<div class="container buttons is-centered">
			if !utils.IsAuthenticated(ctx) {
				<p>
					User is not logged in
				</p>
				<a class="button" href="/login">
					Login
				</a>
			} else {
				<p>
					User is logged in
				</p>
				<a class="button" href="/userinfo">
					User Info
				</a>
			}
		</div>
	}
}
