package templates

import (
	"my_project/templates/components"
	"my_project/templates/utils"
)

templ Home() {
	@components.Page("Home") {
		<div>
			Hello World!
		</div>
		<a href="/login">
			<button>
				Login
			</button>
		</a>
		if utils.IsAuthenticated(ctx) {
			<a href="/userinfo">
				<button>
					User Info
				</button>
			</a>
		}
	}
}
