package templates

import "my_project/templates/components"

templ Login() {
	@components.Page("Login") {
		<a href="/auth/session?provider=github">
			<button>Github</button>
		</a>
		<a href="/auth/session?provider=google">
			<button>Google</button>
		</a>
	}
}
