package templates

import "my_project/templates/components"

templ Login() {
	@components.Page("Login") {
		<form>
			<label>Username</label>
			<input type="text"/>
			<label>Password</label>
			<input type="password"/>
		</form>
		<a href="/auth/session?provider=github">
			<button>Github</button>
		</a>
		<a href="/auth/session?provider=google">
			<button>Google</button>
		</a>
	}
}
