package components

templ Footer() {
	<footer class="footer">
		<div class="content has-text-centered">
			<p>
				<strong class="is-family-monospace">My</strong><strong class="has-text-primary is-family-monospace">Project</strong>, created with ❤️ by <a href="https://knudtty.github.io">Aaron Knudtson</a>.
			</p>
		</div>
	</footer>
}
